/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --text-color:#f5f5f5;
    --hover-color:#0ef;
    --bg-color:#081b29;
    --secon-bg-color:#051129;
    --big-font:2.5rem;
    --norma-font:2rem;
    --neon-box-shadow:0 0 .5rem #12f7ff;
    --h2-font:3rem;
    --font-neon-text-shadow: 0 0 10px rgba(18, 247, 255, 0.3),
    0 0 20px rgba(18, 247, 255, 0.3),
    0 0 30px rgba(18, 247, 255, 0.3),
    0 0 40px rgba(18, 247, 255, 0.3),
    0 0 70px rgba(18, 247, 255, 0.3),
    0 0 80px rgba(18, 247, 255, 0.3),
    0 0 100px rgba(18, 247, 255, 0.3),
    0 0 150px rgba(18, 247, 255, 0.3),

}
body {
    color: #ededed;
    background: #081b29;
}

/*------------------------------------- Home ---------------------------------*/
/*----------------------------------------------------------------------------*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 5%;
    background: #051129;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 1.8rem;
    color: #fff;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.navbar a {
    font-size: 1.8rem;
    color: #fff;
    margin-left: 35px;
    text-decoration: none;
    font-weight: 500;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.navbar a:hover {
    color: var(--hover-color);
    text-shadow: 0 0 10px rgba(18, 247, 255, 0.3),
    0 0 20px rgba(18, 247, 255, 0.3),
    0 0 30px rgba(18, 247, 255, 0.3),
    0 0 40px rgba(18, 247, 255, 0.3),
    0 0 70px rgba(18, 247, 255, 0.3),
    0 0 80px rgba(18, 247, 255, 0.3),
    0 0 100px rgba(18, 247, 255, 0.3),
    0 0 150px rgba(18, 247, 255, 0.3);

}
#menu-icon{
    padding: 1px 2px;
    font-size: 2rem;
    z-index: 1000;
    cursor: pointer;
    background: #0EF;
    margin-left: 25px;
    border-radius: 3px;
    color: #081B29;
    text-decoration: none;
    display: none;
    font-weight: 600;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

#menu-icon:hover {
    box-shadow: 0 0 5px cyan, 0 0 50px cyan;
}
.home {
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}
.home-img{
    width:280px;

}
.home-img img {
    max-width: 600px;
    height: auto;
    border-radius: 8px;
}
.home-content {
    max-width: 700px;
}
.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}
.home-content h3 span {
    color: #0ef;
}
.home-content h3:nth-of-type(2){
    margin-bottom:30px;
}
.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}
.home-content p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}
.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    margin: 30px 15px 30px 0;
    text-decoration: none;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.home-sci a:hover {
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}
.btn-box {
    padding: 12px 28px;
    background: #0EF;
    border-radius: 40px;
    font-size: 16px;
    color: #081B29;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
}
.btn-box:hover {
    box-shadow: 0 0 5px cyan, 0 0 50px cyan;
}


/*------------------------------------- About ---------------------------------*/
/*----------------------------------------------------------------------------*/
.about {
    display: flex;
    justify-content: center;
    background: white;
    align-items: center;
    gap: 1.5rem;
    height: 100vh;
}
.about-img{
    width:280px;

}
.about-img img {
    max-width: 1000%;
    height: auto;
    border-radius: 8px;
}
.about-text {
    padding-left: 35%;
}
.about-text h2 {
    font-size: 50px;
}
.about-text h2 span {
    color: #081B29;
}
.about-text h4 {
    font-size: 29px;
    font-weight: 600;
    color: #081B29;
    line-height: 1.7;
    margin: 15px 0 30px;
}
.about-text p {
    color: #081B29;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}
.justified {
    text-align: justify;
    padding-right: 10%;
}



/*------------------------------------- Skills ---------------------------------*/
/*----------------------------------------------------------------------------*/
.main-text{
    width:100%;
    text-align: center;
    color:var(--hover-color)

}
.main-text h2{
    font-weight: 700;
    font-size: 50px;
    margin: -10px 0 -10px 0;
}

.main-text span{
    color: #fdfdfd;
    font-size: .8rem;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
     
}
.skills {
    padding-top: 4%;
    padding-bottom: 5%;
    gap: 1.5rem;
    background: #292e33;
}
.skills-main {
    width: 90%;
    height: 100vh;
    display: grid;
    padding-left: 10%;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap:30px;
    grid-column-gap: 50px;
}
.skills-bar{
    margin-bottom: 2.3rem;
}
.skills-main h3{
    margin-bottom: 1rem;
    font-size: var(--norma-font);
     text-align: center;
}

.skills-left .skills-bar .Info
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.skills-left .skills-bar .bar{
    width: 100%;
    height: 10px;
    background-color: var(--secon-bg-color);
    border-radius: 25px;
    margin-top:10px;
    position: relative;
}
.skills-bar .bar span{
    width: 50% ;
    height: 100%;
    position: absolute;
    background: var(--hover-color);
    border-radius: 25px;
    box-shadow: var(--neon-box-shadow);
    
}

.skills .bar .html{
    width: 80%;
    animation: html 2s;
}
.skills .bar .css{
    width: 80%;
    animation: css 3s;
}
.skills .bar .java{
    width: 40%;
    animation: java 3s;
}
.skills .bar .c{
    width: 80%;
    animation: c 2s;
}
.skills .bar .cpp{
    width: 70%;
    animation: cpp 2s;
}
.skills .bar .mysql{
    width: 50%;
    animation: mysql 3s;
}


.professional
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.box{
    height:100%;
    width:100%;
    position: relative;
    margin: 10px 0;
    flex: 1 1 15rem;
}
.box .text{
    text-align: center;
    color: #fff;
    font-size: 1rem;
}
.box .text big{
    font: 400;
    letter-spacing: 1px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.box .text small{
    display: block;
    font-weight: 600;
}

.timeline-items{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.timeline-items::before{
    content: "";
    position:absolute;
    width: 5px;
    height: 100%;
    background-color: #0ef;
    left: calc(50% - 1px);
}
.timeline-item{
    margin-bottom: 20px;
    width: 100%;
    position: relative;
}
.timeline-item:last-child{
    margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50%+30px);
    text-align: right;
 }
 .timeline-item:nth-child(even){
    padding-left: calc(50%+30px);
 }
 
 .timeline-date{
    font-size: 20px;
    font-weight: 800;
    color: white;
    margin: 0 0 4px;
 }

 .timeline-content{
    background-color: var(--bg-color);
    border: 3px solid cyan;
    padding: 5px 50px;
    border-radius: 3rem;
    margin-left: 6%;
    box-shadow: 0 0 10px cyan;
    cursor: pointer;
    transition: 0.3s ease-in-out;
 }
 .timeline-content:hover{
    transform: 20px;
    box-shadow: 0 0 25px cyan;
 }
 .timeline-content h3{
    font-size: 30px;
    color: #fff;
    margin:0 0 0 0;
}
.timeline-content h4{
    font-size: 22px;
    color: #fff;
}
.timeline-content p{
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 15px;
} 
.timeline-contents{
    background-color: var(--bg-color);
    border: 3px solid cyan;
    padding: 5px 50px;
    border-radius: 3rem;
    margin-left: 6%;
    box-shadow: 0 0 10px cyan;
    cursor: pointer;
    transition: 0.3s ease-in-out;
 }
 .timeline-contents:hover{
    transform: 20px;
    box-shadow: 0 0 25px cyan;
 }
.timeline-contents h3{
    font-size: 30px;
    color: #fff;
    margin:0 0 0 0;
}
.timeline-contents h4{
    font-size: 20px;
    color: #fff;
}
.timeline-contents p{
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;

}

::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: cyan;

}
::-webkit-scrollbar-track{
    background-color: var(--bg-color);
    width: 50px;
}




/*------------------------------------- Project ---------------------------------*/
/*----------------------------------------------------------------------------*/
.project{
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    height: 100vh;
    padding-bottom: 5%;
    background: #250821;
} 
.project .main-text{
    padding-top:4%;
}
.project-gallery{
    align-items: center;
    padding: 3% 32% 0;
    

}
.project-gallery .port-box {
    position: relative;
    border-radius: 2rem;
    width:550px;
    height:450px;
    box-shadow: 0 0 1rem #250821;
    border: 3px solid var(--hover-color);
    overflow: hidden;
    display: flex;
}
.port-box img {
    width: 600px;
    transition: .5s ease;
}
.port-box:hover img {
    transform: scale(1.1);
}
.port-box .port-content{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), cyan);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
    flex-direction: column;
    transform: translateY(100%);
}
.port-content h3{
    font-size: 2rem ;
    color: #081b29;
}
.port-content p{
    font-size: 1rem;
    margin: .3rem 0 1rem;
    color: #081b29;
    font-weight: 660;
}
.port-content a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: white;
    /*border:3px solid var(--bg-color);*/
    border-radius: 50%;

}
.port-content a i {
    font-size: 2rem ;
    color: #250821;
}
.port-box:hover .port-content{
    transform: translate(0);
}

/*------------------------------------- Contact ---------------------------------*/
/*----------------------------------------------------------------------------*/
.contact{
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    height: 100vh;
    background: #292e33;

    
} 
.contact .main-text{
     padding-top:5%;
}
.contact-main{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    padding: 2% 10%;
    grid-row-gap: 30px;
    grid-column-gap: 70px;

}
.contact-main .contact-box {
    position: relative;
    border-radius: 2rem;
    width:600px;
    height:500px;
    box-shadow: 0 0 2rem black;
    border: 3px solid #250821;
    overflow: hidden;
    display: flex;
}
.contact-content
{
    padding: 15% 10% 0 0;
}
.contact-content h3{
    font-size: 20px ;
}
.contact-content h4{
    font-size: 15px ;
}
.contact-box img {
    width:600px;
    transition: .5s ease;
}
.contact-box:hover img {
    transform: scale(1.1);
}

.contact-box .contact-content{
    position: absolute;
    text-align:left;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 1rem;
    flex-direction: column;
}
h3.bottom-text {
    position: absolute;
    top: 55%; 
    width: 100%; 
    padding-left: 10%;
    text-align: left; 
}
h2.bottom-text {
    position: absolute;
    top: 69%; 
    width: 100%; 
    padding-left: 10%;
    text-align: left; 
}
span.bottom-text {
    position: absolute;
    top: 62%; 
    width: 100%; 
    padding-left: 10%;
    text-align: left; 
}
span.bottomm-text {
    position: absolute;
    top: 76%; 
    width: 100%; 
    padding-left: 10%;
    text-align: left; 
}
.home-science{
    padding-left:9%;
}
.home-science a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 30px;
    color: #0ef;
    margin: 79% 5px 0 0;
    text-decoration: none;
}
.home-science a:hover {
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}
.contact-form{
    width: 550px ;
    height: 470px;
}
.contact-form form{
    position: relative;
    width: 550px ;
    height: 450px;
}
.contact-form form input,form textarea{
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #081b29;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}
.contact-form input:hover
{
    box-shadow: 0 0 5px cyan, 0 0 10px cyan;
}
.contact-form textarea{
    resize: none;
    height: 220px;
}
.contact-form textarea:hover{
    box-shadow: 0 0 5px cyan, 0 0 10px cyan;
}
.formBtn{
    display: flex;
    justify-content: center;
    width: 90%;
    
    
}
.btn-boxs .btns{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    background-color: var(--hover-color);
    color: var(--bg-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: .6s;
    box-shadow: var(--neon-box-shadow);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: 2px solid var(--hover-color);

}
.btns:hover{
    color: var(--hover-color);
}
.btns::before {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    background: var(--bg-color);
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .4s;
}
.btns:hover::before{
    width: 100%;
}
.btns:nth-child(2)
{
    background: var(--bg-color);
    color: var(--hover-color);
}
.btns:nth-child(2):hover {
    color: var(--bg-color);  
}
.btns:nth-child(2)::before
{
    background: var(--hover-color);
}



/*------------------------------------- Footer---------------------------------*/
/*----------------------------------------------------------------------------*/
footer{
    padding: 1rem 5% 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer p{
    color: #ededed;
}
footer a {
    display: inline-flex;
    font-size: 20px;
    justify-content: center;
    color: var(--bg-color);
    background: var(--hover-color);
    padding: .6rem;
    border-radius: 5px;
}
footer a:hover{
    box-shadow: 0 0 5px cyan, 0 0 50px cyan;
}




/*------------------------------------- Paral lax ---------------------------------*/
/*----------------------------------------------------------------------------*/
.scroll-scale{
    opacity: 0;
    transform: scale(.9);
    transition: all 2s;
}
.scroll-bottom{
    opacity: 0;
    transform: translateY(300px);
    transition: 3s;
}
.scroll-top{
    opacity: 0;
    transform: translateY(-300px);
    transition: 3s;
}
.scroll-items{
    opacity: 1;
    transform: translateX(0);
    transition: all 2s;
}


/* Keyframes */
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideTop {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideBottom {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes morph{
    0%,
    100%{
        border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    }
    30%{
        border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }
    60%{
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }
    80%{
        border-radius: 69% 31% 66% 34% / 21% 30% 70% 79%;
    }

}
@keyframes html{
    0%{
        width: 0%
    }
     100%{
        width: 80%;
     }
}
@keyframes css{
    0%{
        width: 0%
    }
     100%{
        width: 80%;
     }
}
@keyframes java{
    0%{
        width: 0%
    }
     100%{
        width: 40%;
     }
}
@keyframes c{
    0%{
        width: 0%
    }
     100%{
        width: 80%;
     }
}
@keyframes cpp{
    0%{
        width: 0%
    }
     100%{
        width: 70%;
     }
}
@keyframes mysql{
    0%{
        width: 0%
    }
     100%{
        width: 50%;
     }
}


@keyframes glow{
    0%{
        background: var(--secon-bg-color);
        box-shadow:none;
    }
    100%{
        background-color: var(--hover-color);
        box-shadow: var(--neon-box-shadow);
    }
}


/* Responsive Design */
@media (max-width: 1287px) {
    .home-img img{
        width: 145%;
    }
    .contact-form {
        position: relative;
        width: 445px ;
        height: 450px;
    }

    .contact-form form{
        position: relative;
        width: 445px ;
        height: 450px;
    }
}
@media (max-width: 1254px) {
    .home-img img{
        width: 140%;
    }
    .contact{
        padding-top: 2%;
        height: 100%;
    }
    .contact-main
    {
        padding: 5% 8%;
        width: 100%
        
    }
    .contact-main .contact-box{
        width: 500px;
        height: 450px;
    }
   
    .contact-form{
        width: 550px;
        height: 450px;
        padding: 3% 0%;
    }
    .contact-form form{
        width: 550px ;
        height: 450px;
    }
    .home-science a{
        margin: 88% 5px 0 0;
    }
}
@media (max-width: 1200px) {
    .navbar a {
        font-size: 22px;
        margin-left: 20px;
    }
    .home-content {
        width: 600px;
    }
    .home-content h1 {
        font-size: 48px;
    }
    .home-content p {
        font-size: 18px;
    }
    .home-img img{
        width: 139%;
    }
    .skills{
        padding-top: 6%;
        height: 100%;
    }
    .skills-main{
        height: 100%;
            }
    .project{
        height: 100%;
    }
    .project .main-text{
        padding-top:6%;
    }
    .project-gallery{
        padding: 3% 28%;
        flex-direction: column;
    }
    
    .project-gallery .port-box {
        width:500px;
        height:500px;
    }
    .contact{
        padding-top: 2%;
        height: 100%;
    }
    .contact-main
    {
        padding: 5% 8%;
        width: 100%
        
    }
    .contact-main .contact-box{
        width: 450px;
        height: 450px;
    }
   
    .contact-form{
        width: 500px;
        height: 450px;
        padding: 3% 0%;
    }
    .contact-form form{
        width: 500px ;
        height: 450px;
    }
    .home-science a{
        margin: 98% 5px 0 0;
    }
}

@media (max-width: 1100px) {
    .navbar a {
        font-size: 22px;
        margin-left: 20px;
    }
    .home-content {
        width: 600px;
    }
    .home-content h1 {
        font-size: 48px;
    }
    .home-content p {
        font-size: 18px;
    }
    .home-img img{
        width: 139%;
    }
    .skills{
        padding-top: 6%;
        height: 100%;
    }
    .skills-main{
        height: 100%;
            }
    .project{
        height: 100%;
    }
    .project .main-text{
        padding-top:6%;
    }
    .project-gallery{
        padding: 3% 28%;
        flex-direction: column;
    }
    
    .project-gallery .port-box {
        width:500px;
        height:500px;
    }
    .contact{
        padding-top: 2%;
        height: 100%;
    }
    .contact-main
    {
        padding: 5% 8%;
        width: 100%
        
    }
    .contact-main .contact-box{
        width: 450px;
        height: 450px;
    }
    
    .contact-form{
        width: 390px;
        height: 450px;
        padding: 3% 0%;
    }
    .contact-form form{
        width: 390px ;
        height: 450px;
    }
    .home-science a{
        margin: 98% 5px 0 0;
    }
}
@media (max-width: 992px) {
    .home-content {
        width: 600px;
    }

    .home-content h1 {
        font-size: 40px;
    }
    .home-content p {
        font-size: 16px;
    }
     .home-img img{
        width: 139%;
    }
    .about-text h2 {
        font-size: 50px;
    }
    .about-text h4 {
        font-size: 24px;
    }
    .skills{
        padding-top: 8%;
        height: 100%;
    }
    .skills-main{
        grid-template-columns: 1fr;
        
    }
    .project{
        height: 100%;
    }
    .project .main-text{
        padding-top:8%;
    }
    .project-gallery{
        padding: 5% 29%;
        flex-direction: column;
    }
    
    .project-gallery .port-box {
        width:400px;
        height:400px;
    }
    
    .contact{
        padding-top: 3%;
        height: 100%;
    }
    .contact-main
    {
        grid-template-columns: 1fr;
        padding: 5% 18%;
        
    }
    .contact-main .contact-box{
        width: 550px;
        height: 400px;
    }
    .contact-form{
        padding: 3% 7%;

    } 
    .contact-form{
        padding: 3% 4%;
        width: 550px ;
        height: 500px;
    }
    .contact-form form{
        width: 550px ;
        height: 500px;
    }
    .home-science a{
        margin: 70% 5px 0 0;
    }
   
    
}
@media (max-width: 880px) {
    .header {
        padding: 15px 4%;
    }
    .navbar a {
        font-size: 20px;
        margin-left: 15px;
    }
    .home {
        padding-top: 20%;
        height: 100%;
        flex-direction: column;
    }
    .home-content {
        width: 600px;
    }
    .home-img img{
        width: 165%;
        margin-left: -130px;
    }
    
    .home-content h1 {
        font-size: 36px;
    }
    .home-content p {
        font-size: 20px;
    }
    #menu-icon{
        display: block;
        transition: all .4s ease;
    }
    #menu-icon.bx-x{
        transform: rotate(-180deg);
    }
    .navbar{
        display: flex;
        position: absolute;
        top: -1000px;
        right: 0;
        left: 0;
        flex-direction: column;
        background-color: var(--secon-bg-color);
        text-align: left;
        transition: all .4s ease;
    }
    .navbar a{
        display: block;
        padding-bottom: 1rem;
        font-size: 1.5rem;
    }
    .navbar.open{
        top:100%; 
    }

    .about {
        height: 100%;
        flex-direction: column;
    }
    .about-text {
        padding-left: 10%;
        text-align: center;
    }
    .about-img img {
        max-width: 200%;
        margin-left: -130px;
    }
    .skills{
        padding-top: 10%;
        height: 100%;
    }
    .skills-main{
        grid-template-columns: 1fr;
    }
    .project{
        height: 100%;
    }
    .project .main-text{
        padding-top:10%;
    }
    .project-gallery{
        padding: 5% 27%;
        flex-direction: column;
    }
    
    .project-gallery .port-box {
        width:400px;
        height:400px;
    }
    .contact{
        padding-top: 4%;
        height: 100%;
    }
    .contact-main
    {
        grid-template-columns: 1fr;
        padding: 5% 15%;
        
    }
    .contact-main .contact-box{
        width: 550px;
        height: 400px;
    }
    .contact-form{
        padding: 3% 7%;

    }
    .contact-form{
        padding: 3% 4%;
        width: 550px ;
        height: 500px;
    }
    .contact-form form{
        width: 550px ;
        height: 500px;
    }
    .home-science a{
        margin: 70% 5px 0 0;
    }
}
@media (max-width: 768px) {
    .header {
        padding: 15px 4%;
    }
    .navbar a {
        font-size: 20px;
        margin-left: 15px;
    }
    .home{
        padding-top: 20%;
        padding-left: 20%;
    }
    .home-content{
        width: 500px;
        padding-top: 15%;
    }
    .home-content h1 {
        font-size: 36px;
    }
    .home-content p {
        font-size: 20px;
    }
    #menu-icon{
        display: block;
        transition: all .4s ease;
    }
    #menu-icon.bx-x{
        transform: rotate(-180deg);
    }
    .navbar{
        display: flex;
        position: absolute;
        top: -1000px;
        right: 0;
        left: 0;
        flex-direction: column;
        background-color: var(--secon-bg-color);
        text-align: left;
        transition: all .4s ease;
    }
    .navbar a{
        display: block;
        padding-bottom: 1rem;
        font-size: 1.5rem;
    }
    .navbar.open{
        top:100%; 
    }
    .about {
        height: 100%;
        flex-direction: column;
    }
    .about-text {
        padding-left: 10%;
        text-align: center;
    }
    .about-img img {
        max-width: 200%;
        margin-left: -130px;
    }
    .skills{
        padding-top: 11%;
        height: 100%;
    }
    .skills-main{
        grid-template-columns: 1fr;
    }
    .project{
        height: 100%;
    }
    .project .main-text{
        padding-top:11%;
    }
    .project-gallery{
        padding: 5% 23%;
        flex-direction: column;
    }
    
    .project-gallery .port-box {
        width:400px;
        height:400px;
    }
    .contact{
        padding-top: 8%;
        height: 100%;
    }
    .contact-main
    {
        grid-template-columns: 1fr;
        padding: 5% 13%;
    }
    .contact-main .contact-box{
        width: 550px;
        height: 400px;
    }
    .contact-form{
        padding: 3% 5%;

    }
    .contact-form{
        padding: 3% 4%;
        width: 550px ;
        height: 500px;
    }
    .contact-form form{
        width: 550px ;
        height: 500px;
    }
    .home-science a{
        margin: 70% 5px 0 0;
    }
}
@media (max-width: 680px)
{
    .home-content{
        grid-template-columns: 1fr;   
        padding-top: 15%;
    }
    .contact-main .contact-box{
        width: 500px;
        height: 400px;
    }
    .contact-form{
        padding: 3% 4%;
        width: 500px ;
        height: 500px;
    }
    .contact-form form{
        width: 500px ;
        height: 500px;
    }
    .home-science a{
        margin: 78% 5px 0 0;
    }
}
@media (max-width: 650px)
{
    .home-content{
        grid-template-columns: 1fr;   
        padding-top: 15%;
    }
    .contact-main .contact-box{
        width: 500px;
        height: 400px;
    }
    .contact-form{
        padding: 3% 4%;
        width: 480px ;
        height: 500px;
    }
    .contact-form form{
        width: 480px ;
        height: 500px;
    }
    .home-science a{
        margin: 78% 5px 0 0;
    }
}
@media(max-width: 630px)
{
    
    .home-content{
        grid-template-columns: 1fr;   
        padding-top: 15%;
    }
    .home-content h1 {
        font-size: 28px;
    }
    .home-content h3 {
        font-size: 28px;
    }
    .home-content p {
        font-size: 20px;
    }
    .about {
        height: 100%;
        flex-direction: column;
    }
    .about-text h2 {
        font-size: 40px;
    }
    .about-text h4 {
        font-size: 22px;
    }
    .about-img img {
        max-width: 400px;
        margin: 0 auto;
    }
    .skills{
        padding-top: 12%;
        height: 100%;
    }
    .skills-main{
        grid-template-columns: 1fr;
    }
    .project{
        height: 100%;    
    }
    .project .main-text{
        padding-top: 17%;
    }
    .project-gallery{
        padding: 5% 15%;
        
        
        flex-direction: column;
    }
    
    .project-gallery .port-box {
        width:400px;
        height:400px;
    }
    .contact{
        padding-top: 8%;
        height: 100%;
    }
    .contact-main
    {
        grid-template-columns: 1fr;
        padding: 5% 10%;
    }
    .contact-main .contact-box{
        width: 450px;
        height: 350px;
    }
    .contact-form{
        padding: 3% 4%;

    }
    .contact-form form{
        width: 450px ;
        height: 450px;
    }
    .home-science a{
        margin: 77% 5px 0 0;
    }
    
}
@media (max-width: 586px) {
   
    .home-content{
        grid-template-columns: 1fr;
        padding-top: 15%;
    }
    .home-content h1 {
        font-size: 28px;
    }
    .home-content h3 {
        font-size: 28px;
    }
    .home-content p {
        font-size: 20px;
    }
    .about {
        height: 100%;
        flex-direction: column;
    }
    .about-text h2 {
        font-size: 40px;
    }
    .about-text h4 {
        font-size: 22px;
    }
    .about-img img {
        max-width: 400px;
        margin: 0 auto;
    }
    .skills{
        padding-top: 15%;
        height: 100%;
    }
    .skills-main{
        grid-template-columns: 1fr;
    }
    .project{
        height: 100%;
    }
    .project .main-text{
        padding-top: 15%;
    }
    .project-gallery{
        padding: 5% 15%;
        flex-direction: column;
    }
    
    .project-gallery .port-box {
        width:400px;
        height:400px;
    }
    .contact{
        padding-top: 8%;
        height: 100%;
    }
    .contact-main
    {
        grid-template-columns: 1fr;
        padding: 5% 10%;
    }
    .contact-main .contact-box{
        width: 400px;
        height: 300px;
    }
    .contact-form{
        padding: 3% 1%;

    }
    .contact-form form{
        width: 430px ;
        height: 460px;
    }
    .home-science a{
        margin: 76% 5px 0 0;
    }
}
@media (max-width: 576px) {
    .home-content{
        grid-template-columns: 1fr;
        width: 475px;
        padding-top: 15%;
    }
    .home-content h1 {
        font-size: 28px;
    }
    .home-content h3 {
        font-size: 28px;
    }
    .home-content p {
        font-size: 20px;
    }
    .home-img img {
        padding-top:50px;
    
        }
    .about {
        height: 100%;
        flex-direction: column;
    }
    .about-text h2 {
        font-size: 40px;
    }
    .about-text h4 {
        font-size: 22px;
    }
    .about-img img {
        max-width: 100%;
        margin: 0 auto;
    }
    .skills{
        padding-top: 15%;
        height: 100%;
    }
    .skills-main{
        grid-template-columns: 1fr;
    }
    .project{
        height: 100%;
    }
    .project .main-text{
        padding-top: 15%;
    }
    .project-gallery{
        flex-direction: column;
    }
    
    .project-gallery .port-box {
        width:400px;
        height:400px;
    }
    .contact{
        padding-top: 8%;
        height: 100%;
    }
    .contact-main
    {
        grid-template-columns: 1fr;
        padding: 5% 10%;
    }
    .contact-main .contact-box{
        width: 400px;
        height: 300px;
    }
    .contact-form{
        padding: 3% 1%;

    }
    .contact-form form{
        width: 430px ;
        height: 460px;
    }
    .home-science a{
        margin: 76% 5px 0 0;
    }
}
@media (max-width: 540px) {
    .home-content{
        grid-template-columns: 1fr;
        width: 440px;
        padding-top: 15%;
    }
    .home-content h1 {
        font-size: 28px;
    }
    .home-content h3 {
        font-size: 28px;
    }
    .home-content p {
        font-size: 20px;
    }
    .home-img img {
        padding-top:50px;
        padding-left: 10%;
        }
    .about {
        height: 100%;
        flex-direction: column;
    }
    .about-text h2 {
        font-size: 40px;
    }
    .about-text h4 {
        font-size: 22px;
    }
    .about-img img {
        max-width: 100%;
        margin: 0 auto;
    }
    .skills{
        padding-top: 15%;
        height: 100%;
    }
    .skills-main{
        grid-template-columns: 1fr;
    }
    .project{
        height: 100%;
    }
    .project .main-text{
        padding-top: 15%;
    }
    .project-gallery{
        flex-direction: column;
    }
    
    .project-gallery .port-box {
        width:400px;
        height:400px;
    }
    .contact{
        padding-top: 8%;
        height: 100%;
    }
    .contact-main
    {
        grid-template-columns: 1fr;
        padding: 5% 10%;
    }
    .contact-main .contact-box{
        width: 400px;
        height: 300px;
    }
    .contact-form{
        padding: 3% 1%;
        width: 430px ;

    }
    .contact-form form{
        width: 430px ;
        height: 460px;
    }
    .home-science a{
        margin: 76% 5px 0 0;
    }
}


@media (max-width: 500px) {
   
    .home-content{
        grid-template-columns: 1fr;
        width: 380px;
    }
    .home-content h1 {
        font-size: 28px;
    }
    .home-content h3 {
        font-size: 24px;
    }
    .home-content p {
        font-size: 20px;
    }
    .home-img img{
        width: 400px;
        padding-left: 30%;

    }
    .about {
        height: 100%;
        flex-direction: column;
    }
    .about-text h2 {
        font-size: 40px;
    }
    .about-text h4 {
        font-size: 22px;
    }
    .about-img img {
        max-width: 100%;
        margin: 0 auto;
    }
    .skills{
        padding-top: 17%;
        height: 100%;
    }
    .skills-main{
        grid-template-columns: 1fr;
    }
    .project{
        height: 100%;
    }
    .project .main-text{
        padding-top: 15%;
    }
    .project-gallery{
        padding: 5% 6%;
        flex-direction: column;
    }
    
    .project-gallery .port-box {
        width:400px;
        height:400px;
    }
    .contact{
        padding-top: 10%;
        height: 100%;
    }
    .contact-main
    {
        grid-template-columns: 1fr;
        padding: 5% 5%;
    }
    .contact-main .contact-box{
        width: 420px;
        height: 320px;
    }
    .contact-form{
        padding: 3% 7%;
        width: 400px ;

    }
    .contact-form form{
        width: 400px ;
        height: 460px;
    }
    
    .home-science a{
        margin: 76% 5px 0 0;
    }
    
}
@media (max-width: 465px){
       .home-content{
        grid-template-columns: 1fr;
        width: 380px;
    }
    .home-content h1 {
        font-size: 28px;
    }
    .home-content h3 {
        font-size: 24px;
    }
    .home-content p {
        font-size: 20px;
    }
    .home-img img{
        width: 400px;
        padding-left: 30%;

    }
    .about {
        height: 100%;
        flex-direction: column;
    }
    .about-text h2 {
        font-size: 40px;
    }
    .about-text h4 {
        font-size: 22px;
    }
    .about-img img {
        max-width: 100%;
        margin: 0 auto;
    }
    .skills{
        padding-top: 17%;
        height: 100%;
    }
    .skills-main{
        grid-template-columns: 1fr;
    }
    .project{
        height: 100%;
    }
    .project .main-text{
        padding-top: 15%;
    }
    .project-gallery{
        padding: 5% 6%;
        flex-direction: column;
    }
    
    .project-gallery .port-box {
        width:400px;
        height:400px;
    }
    .contact{
        padding-top: 10%;
        height: 100%;
    }
    .contact-main
    {
        grid-template-columns: 1fr;
        padding: 5% 5%;
    }
    .contact-main .contact-box{
        width: 400px;
        height: 320px;
    }
    .contact-form{
        padding: 3% 4%;
        width: 400px ;

    }
    .contact-form form{
        width: 400px ;
        height: 460px;
    }
}
@media (max-width: 452px){
        .home-content
        {
        grid-template-columns: 1fr;
        width: 380px;
    }
    .home-content h1 {
        font-size: 28px;
    }
    .home-content h3 {
        font-size: 24px;
    }
    .home-content p {
        font-size: 20px;
    }
    .home-img img{
        width: 400px;
        padding-left: 30%;

    }
    .about {
        height: 100%;
        flex-direction: column;
    }
    .about-text h2 {
        font-size: 40px;
    }
    .about-text h4 {
        font-size: 22px;
    }
    .about-img img {
        max-width: 100%;
        margin: 0 auto;
    }
    .skills{
        padding-top: 17%;
        height: 100%;
    }
    .skills-main{
        grid-template-columns: 1fr;
    }
    .project{
        height: 100%;
    }
    .project .main-text{
        padding-top: 15%;
    }
    .project-gallery{
        padding: 5% 6%;
        flex-direction: column;
    }
    
    .project-gallery .port-box {
        width:380px;
        height:380px;
    }
    .contact{
        padding-top: 10%;
        height: 100%;
    }
    .contact-main
    {
        grid-template-columns: 1fr;
        padding: 5% 5%;
    }
    .contact-main .contact-box{
        width: 380px;
        height: 320px;
    }
    .contact-form{
        padding: 3% 4%;
        width: 400px ;

    }
    .contact-form form{
        width: 390px ;
        height: 500px;
    }
    .home-science a{
        margin: 85% 5px 0 0;
    }
}

@media (max-width: 440px){
    .home-content{
    grid-template-columns: 1fr;
    width: 356px;
}
.home-content h1 {
    font-size: 30px;
}
.home-content h3 {
    font-size: 23px;
}
.home-content p {
    font-size: 20px;
}
.home-img img{
    width: 400px;
    padding-left: 30%;

}

.about {
    height: 100%;
    flex-direction: column;
}
.about-text h2 {
    font-size: 40px;
}
.about-text h4 {
    font-size: 22px;
}
.about-img img {
    max-width: 100%;
    margin: 0 auto;
}
.skills{
    padding-top: 19%;
    height: 100%;
}
.skills-main{
    grid-template-columns: 1fr;
}
.project{
    height: 100%;
}
.project .main-text{
    padding-top: 17%;
}
.project-gallery{
    padding: 5% 6%;
    flex-direction: column;
}

.project-gallery .port-box {
    width:360px;
    height:380px;
}
.port-box img{
    width: 365px;
}
.contact{
    padding-top: 10%;
    height: 100%;
}
.contact-main
{
    grid-template-columns: 1fr;
    padding: 5% 5%;
}
.contact-main .contact-box{
    width: 360px;
    height: 320px;
}
.contact-box img{
    width: 365px;
}

.main-text h2{
    font-size: 40px;
    padding-top: 5%;
}
.contact-form{
    padding: 3% 4%;
    width: 370px ;

}
.contact-form form{
    width: 360px ;
    height: 500px;
}

.home-science a{
    margin: 90% 5px 0 0;
}
}

@media (max-width: 397px){
    .home-content{
    grid-template-columns: 1fr;
    width: 330px;
}
.home-content h1 {
    font-size: 30px;
}
.home-content h3 {
    font-size: 23px;
}
.home-content p {
    font-size: 20px;
}
.home-img img{
    width: 400px;
    padding-left: 30%;

}

.about {
    height: 100%;
    flex-direction: column;
}
.about-text h2 {
    font-size: 40px;
}
.about-text h4 {
    font-size: 22px;
}
.about-img img {
    max-width: 100%;
    margin: 0 auto;
}
.skills{
    padding-top: 19%;
    height: 100%;
}
.skills-main{
    grid-template-columns: 1fr;
}
.project{
    height: 100%;
}
.project .main-text{
    padding-top: 17%;
}
.project-gallery{
    padding: 5% 6%;
    flex-direction: column;
}

.project-gallery .port-box {
    width:330px;
    height:340px;
}
.port-box img{
    width: 315px;
}
.port-content{
    width: 330px;
}
.port-content h3{
    font-size: 1.5rem;
}
.port-content p{
    font-size: .9rem;
}
.port-content a{
    width: 3rem;
    height: 3rem;
}
.contact{
    padding-top: 10%;
    height: 100%;
}
.contact-main
{
    grid-template-columns: 1fr;
    padding: 5% 5%;
}
.contact-main .contact-box{
    width: 330px;
    height: 320px;
}
.contact-box img{
    width: 335px;
}

.main-text h2{
    font-size: 40px;
    padding-top: 5%;
}
.contact-form{
    padding: 3% 4%;
    width: 330px ;

}
.contact-form form{
    width: 330px ;
    height: 500px;
}

.home-science a{
    margin: 98% 5px 0 0;
}
}
